.layout {
	@include flex(y, xCenter);

	width: 100vw;
	min-height: 100vh;

	background-color: $gray-50;
	color: $black;
}

.max1200 {
	@include flex(y, xCenter);

	width: 100%;
	max-width: 1200px;

	padding-inline: 20px;
}
