// default
$line-height: 1.5;
$root-font: 16;
$current: var(--px, $root-font);

$rem: 0.1rem;
$px: 1px;
$vw: 0.1vw;

// size
$tablet: 1200px;
$mobile: 600px;
$mobileOnly: 400px;

// color
$black: #282828;
$black-09: #3e3e3e;
$black-08: #535353;
$black-06: #7e7e7e;
$black-04: #a9a9a9;
$black-02: #d4d4d4;

$white: #ffffff;

$gray-500: #8d8d8d;
$gray-400: #b8b8b8;
$gray-200: #dddddd;
$gray-100: #f4f4f4;
$gray-50: #fafafa;

$red: #ff5757;

// font
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-30: 30px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;

$line-height-28: 28px; // for 20px font size
$line-height-24: 24px; // for 18px font size

$letter-spacing-negative: -3%;
