.memoryList {
	width: 100%;
}

.memoryHeader {
	position: relative;

	@include flex(y, xCenter, yCenter);

	height: fit-content;

	padding-top: 16px;
}

.title {
	position: absolute;

	top: 0;
}

.memoryContents {
	@include flex(y, xCenter, top);

	width: 100%;

	::-webkit-scrollbar {
		display: none;
	}

	gap: 60px;

	padding-bottom: 120px;
}

.cards {
	width: 100%;
	height: fit-content;

	@include flex(-x, wrap, xCenter, top);

	overflow-y: scroll;

	gap: 20px;
}
