@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #fafafa;
	--foreground: #282828;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #232323;
		--foreground: #ffffff;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: 'Spoqa Han Sans Neo', sans-serif;

	touch-action: pan-x pan-y;

	height: -webkit-fill-available;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
