.button {
	@include flex(x, xCenter, yCenter);

	border-radius: 6px;

	transition: all 0.25s;

	&.dark {
		background-color: $black;
		color: $gray-50;

		&:hover,
		&:focus {
			background-color: $black-09;
		}
	}

	&.light {
		background-color: $gray-50;
		color: $black;
		border: 1px solid $black;

		&:hover,
		&:focus {
			background-color: $gray-200;
		}
	}
}
