.formInputGroup {
	width: 100%;
	margin-bottom: 12px;
}

.labelContainer {
	@include flex(y);

	width: 100%;
	gap: 4px;
}

.labelText {
	margin-bottom: 8px;

	@include font-16-medium;
}

.inputWrapper {
	@include flex(y);

	gap: 8px;
}

.inputField {
	width: 100%;

	padding: 8px;

	border: 1px solid $black-02;
	border-radius: 4px;

	font-size: 14px;
}
