.badge {
	position: relative;

	@include flex(x, xCenter, yCenter);

	padding: 12px 20px;

	background-color: $white;

	border-radius: 50px;

	.badgeContent {
		@include font-16-medium;
		color: $black;

		white-space: nowrap;
	}
}
