.modal {
	position: fixed;

	top: 0;

	@include flex(x, xCenter, yCenter);

	width: 100%;
	height: 100%;

	z-index: 100;

	background-color: rgba(0, 0, 0, 0.5);

	backdrop-filter: blur(4px);
}

.fix {
	height: 100%;
	overflow: hidden;
	touch-action: none;

	padding-right: 16px;
}
